@font-face {
    font-family: 'DB Adman X';
    src: url('DBAdmanX.eot');
    src: url('DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('DBAdmanX.woff2') format('woff2'),
        url('DBAdmanX.woff') format('woff'),
        url('DBAdmanX.ttf') format('truetype'),
        url('DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

