@media only screen and (min-width: 1600px) {

}
@media (min-width: 576px){

}

@media only screen and (max-width: 1300px) {

}
@media only screen and (max-width: 1200px) {
    footer .form-submit button{
        margin-left: 0;
        margin-top: 15px;
    }

}

@media (max-width: 767px) {
    .carousel-caption {
        position: relative;
        top: 0;
        left: 0;
    }
    .form-submit input {

        width: 200px;
    }
	.carousel-caption h1 {
	    font-size: 1.2rem;

	}

	.carousel-caption h2 {
	    font-size: 1rem;

    }
    .faq-box {
        padding: 15px;
    }
    .form-submit button{
            margin-left: 0;
    }
        .banner .caption p {
        font-size: 1.2rem;
    }
    .banner .caption h2 {
        font-size: 1.5rem;
    }
    .banner .caption {
        width: 100%;
    }
    .caption-bottom {
        font-size: 0.7rem;
        text-align: center;
    }
    .caption-bottom .text-right {
        text-align: center!important;
    }

    .ball img {

        width: 90%;
    }
    .form-wrapper {
        padding: 0 20px;
    }
}



@media (max-width: 576px) {
	.carousel-caption h1 {
        font-size: 1rem;
            line-height: 26px;
	}

	.carousel-caption h2 {
        font-size: 0.8rem;
            line-height: 18px;
    }
    .form-submit input {
        width: 100%;
        margin-bottom: 10px;
    }
    .timeline>li>.timeline-panel {

        font-size: 0.7rem;
    }

}

